.testimonials{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.testimonials h1{
    color: #fff;
}
.testimonial-wrapper {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
}
.testimonial-wrapper ul{
    list-style-type: none;
    padding-left: 0;
}
.cname{
    text-align: right;
    font-weight: bold;
}